<div *ngIf="isMobileView" class="carousel scrolling-wrapper">
    <div *ngFor="let card of cards" class="carousel-item">
      <img [src]="card.Image" alt="{{card.title}}" class="card-image">
      <h3 class="card-title">{{card.title}}</h3>
      <p class="card-text">{{card.p}}</p>
    </div>
  </div>
  
  <div *ngIf="!isMobileView">
    <div class="card-container">
      <div *ngFor="let card of cards" class="card">
        <img [src]="card.Image" alt="{{card.title}}" class="card-image">
        <h3 class="card-title">{{card.title}}</h3>
        <p class="card-text">{{card.p}}</p>
      </div>
    </div>
</div>


  
