.desc-container {
text-align: center;
justify-content: center;
padding: 0 357px;
margin-top: 20px;
margin-bottom: 20px;
}



.desc-text-h1 {
font-family: 'Gilroy', sans-serif;
font-weight: bold;
font-size: 36px;
margin-bottom: 10px;
margin-top: 40px;
}

.desc-text-p1 {
font-family: "Raleway", sans-serif;    ;
font-size: 16px;
margin-bottom: 20px;
font-weight: bold;
}

.desc-text-p2 {
font-family: "Raleway", sans-serif;    ;
font-size: 16px;
margin-bottom: 20px;
padding: 20px;
}

.button-container {
display: flex;
justify-content: center;
gap: 20px;
width: 30%;
margin: 0 auto;
margin-bottom: 20px;
}

.btn {
background-color: #ff4c4c;
font-family: "Raleway", sans-serif;    ;
width: 100%;
border: none;
color: white;
padding: 10px 15px;
font-size: 12px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
text-decoration: none; 
}

.btn:hover {
background-color: #ff1c1c;
}

@media (max-width: 768px) {
.desc-container {
  padding: inherit;
}
.desc-text-h1 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.desc-text-p1 {
  font-family: "Raleway", sans-serif;    ;
  font-size: 18px;
  margin-bottom: 20px;
}

.desc-text-p2 {
  font-family: "Raleway", sans-serif;    ;
  font-size: 16px;
  margin-bottom: 20px;
}
.button-container {
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .desc-container {
    padding: 0 100px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .desc-text-h1 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .desc-text-p1 {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .desc-text-p2 {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.6;
  }

  .button-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
  }
}

