@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.woff2') format('woff2'),
        url('DIN2014-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

