.cart-container {
    text-align: center;
    border-radius: 8px;
  }
  
  .trips {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
  }
  
  .trip-item {
    position: relative; 
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    width: 200px;
    border-radius: 8px;
    box-sizing: border-box;
    height: 418px;
}

.button-rimuovi {
    position: absolute;
    bottom: 10px; 
    left: 1rem;   
    margin-bottom: 0; 
}



  .empty-cart {
    color: #777;
    font-size: 1.5rem;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 8px;
  }
 
  .trip-item button {
    background-color: #ff4758;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 8px;
  }
  
  .trip-item button:hover {
    background-color: #ff4758;
    border-radius: 8px;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .trip-item img {
    width: 100%;      
    height: 150px;      
    object-fit: cover;  
    border-radius: 8px 8px 0 0; 
  }
  
  .add-new-trip-button {
    background-color: #ff4758;
    display: flex;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 4rem;
    margin-left: 808px; 
    border-radius: 8px;
  }
  

  .add-new-trip-button:hover {
    background-color: #ff4758;
    border-radius: 8px;
  }
  
.h3 {
  font-size: 18px;
}
/* 
.price{
  marg
} */
  .checkout-button {
    background-color: #ff4758;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .checkout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    border-radius: 8px;
  }