

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
  
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 16px 0;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
}
  
.card-img-container {
    flex: 2;
    max-width: 55%;
}
  
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border: 10px solid;
    border-color: rgb(242, 242, 242);
    background-color: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
  
.card-content-h3 {
    font-family: 'Gilroy', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    color: #4d4d4d;
}
  
.card-content-p {
    font-family: "Raleway", sans-serif;    font-size: 16px;
    margin: 8px 0;
    color: #4d4d4d;
}
  
.card-button {
    background-color: #ff4758;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;     font-size: 16px;
    align-self: flex-start;
}
  
.card-button:hover {
    background-color: #ff4c4c;
}
  
.desktop-view .card {
    flex-direction: row;
    width: 100%;
    margin-bottom: 24px;
}
  
.desktop-view .card.alternate {
    flex-direction: row-reverse;
    border-right: none solid #ccc;
    background-color: #fff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
  
@media (min-width: 768px) {
    .desktop-view .card {
        width: 100%;
        height: 300px;
    }
  
    .desktop-view .card.alternate {
        width: 100%;
        height: 300px;
    }
}
  
@media (max-width: 767px) {
    .card {
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
  
    .card-img-container {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  
    .card {
      display: flex;
      flex-direction: row;
      width: 90%;
      max-width: 1000px;
      margin-bottom: 24px;
      height: 250px;
    }
  
    .card.alternate {
      flex-direction: row-reverse;
    }
  
    .card-img-container {
      flex: 1;
      max-width: 50%;
    }
  
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .card-content {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .card-content-h3 {
      font-size: 24px;
    }
  
    .card-content-p {
      font-size: 14px;
    }
  
    .card-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  
  