        <!--Progress-->
        <!--Natura e avventura-->
        <div class="d-flex justify-content-around align-content-center custom-progress-margin-top">
            <div class="d-flex align-items-center">
                <nz-progress [nzPercent]="50" [nzShowInfo]=false nzType="circle" [nzStrokeLinecap]="square" [nzWidth]="105" [nzStrokeColor]="'#8BC53E'" [nzStrokeWidth]=11></nz-progress> 
                <img src="../../assets/trip-details/progress/natura-e-avventura.png" alt="natura-e-avventura" class="progress-img-size">
                <div class="d-flex flex-column ms-3 mt-3">
                    <p class="progress-text-color text-progress-size">Natura e avventura</p>
                    <p class="fw-bold progress-percent-color-1">50%</p>
                </div>
            </div>

            <!--Relax-->
            <div class="d-flex align-items-center">
                <nz-progress [nzPercent]="30" [nzShowInfo]=false nzType="circle" [nzStrokeLinecap]="square" [nzWidth]="105" [nzStrokeColor]="'#40B0ED'" [nzStrokeWidth]=11></nz-progress>
                <img src="../../assets/trip-details/progress/relax.png" alt="relax" class="progress-img-size">
                <div class="d-flex flex-column ms-3 mt-3">
                    <p class="progress-text-color text-progress-size">Relax</p>
                    <p class="fw-bold progress-percent-color-2 custom-mt">30%</p>
                </div>
            </div>

            <!--Monumenti e storia-->
            <div class="d-flex align-items-center">
                <nz-progress [nzPercent]="50" [nzShowInfo]=false nzType="circle" [nzStrokeLinecap]="square" [nzWidth]="105" [nzStrokeColor]="'#FABF3A'" [nzStrokeWidth]=11></nz-progress> 
                <img src="../../assets/trip-details/progress/monumenti-e-storia.png" alt="monumenti-e-storia" class="progress-img-size">
                <div class="d-flex flex-column ms-3 mt-3">
                    <p class="progress-text-color text-progress-size">Monumenti e storia</p>
                    <p class="fw-bold progress-percent-color-3">50%</p>
                </div>
            </div>

            <!--Città e cultura-->
            <div class="d-flex align-items-center">
                <nz-progress [nzPercent]="50" [nzShowInfo]=false nzType="circle" [nzStrokeLinecap]="square" [nzWidth]="105" [nzStrokeColor]="'#F48D38'" [nzStrokeWidth]=11></nz-progress> 
                <img src="../../assets/trip-details/progress/citta-e-cultura.png" alt="citta-e-cultura" class="progress-img-size">
                <div class="d-flex flex-column ms-3 mt-3">
                    <p class="progress-text-color text-progress-size">Città e cultura</p>
                    <p class="fw-bold progress-percent-color-4">50%</p>
                </div>
            </div>

            <!--Party e nightlife-->
            <div class="d-flex align-items-center">
                <nz-progress [nzPercent]="10" [nzShowInfo]=false nzType="circle" [nzStrokeLinecap]="square" [nzWidth]="105" [nzStrokeColor]="'#8565F9'" [nzStrokeWidth]=11></nz-progress>
                <img src="../../assets/trip-details/progress/party-e-nightlife.png" alt="party-e-nightlife" class="progress-img-size"> 
                <div class="d-flex flex-column ms-3 mt-3">
                    <p class="progress-text-color text-progress-size">Party e nightlife</p>
                    <p class="fw-bold progress-percent-color-5">10%</p>
                </div>
            </div>
        </div>
