.total-container {
    padding: 80px;
    background-color: #eff2f4;
}

.nameCountry-text-h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
}

.central-card {
    order: 1;
    width: 100%;
    gap: 2;
}

.btn {
    height: 44px;
    width: 82px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: red; 
    color: white;
    border: none;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.btn-custom {
    background-color: rgb(255, 71, 88);
    color: white;
    border: none;
    height: 44px;
    width: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto; 

}

.btn-custom:hover {
    background-color: rgb(200, 56, 70); 
}

.btn-custom:disabled {
    background-color: #d3d3d3; 
    cursor: not-allowed;
}


@media (min-width: 768px) {
    .total-container {
        padding: 40px;
    }
    .central-card {
        order: initial;
        width: calc(100% / 3);
        gap: 2;
        margin-left: 440px;
    }
}

@media (max-width: 767px) {
    .total-container {
        padding: 18px;
    }
}

.card {
    border-radius: 20px;
    overflow: hidden;
    min-height: 357px;
    display: flex;
    flex-direction: column;
}



.card-title {
    font-family: "Raleway", sans-serif;
    font-size: 21.6px;
    font-weight: bold;
    transition: text-decoration 0.3s;
}

.card-title:hover {
    text-decoration: underline;
}

.card-title1 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: text-decoration 0.3s;
    margin: 0;
}

.card-title1:hover {
    text-decoration: underline;
}

.card-text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-container {
    height: 100vh;
    overflow-y: auto; 
    padding-right: 1rem; 
}

.selected-trips-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    
}

.selected-trips-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.trip-card {
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.trip-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.nz-steps {
    margin-top: 30px;
    margin-bottom: 20px; 
    text-align: center;
}

.small-card .card {
    width: 185px;
    min-height: 234px;
}

.small-card .card-img-top {
    height: 150px;
    object-fit: cover;
}

.small-card .card-body {
    padding: 15px;
}
