 <!--Cose da sapere-->
 <div class="things-know-container mb-5">
    <h2 class="fw-bold text-color mb-5">Cose da sapere</h2>
    <div class="row">
        <div class="d-flex flex-column col-4">
            <div class="d-flex align-items-center mb-1">
                <img src="../../assets/trip-details/icons/heart-hands.png" alt="heart-hands" class="things-know-size">
                <h5 class="text-color ms-2">Cultura locale</h5>
            </div>
            <p class="p-0 text-color fw-light ms-5">Dal 28 febbraio 2025 al 29 marzo 2025 sarà periodo di Ramadan: questo vuol dire che il viaggio può subire modifiche in base agli orari di apertura dei luoghi pubblici. Il pranzo al sacco diventerà il nostro migliore amico e durante il giorno potremo mangiare in zone private. Essere un WeRoader vuol dire anche rispettare le tradizioni locali come questa, sarà un'occasione per conoscerle ancora più da vicino!  </p>
        </div>

        <div class="d-flex flex-column col-4">
            <div class="d-flex align-items-center mb-1">
                <img src="../../assets/trip-details/icons/prorgram.png" alt="program" class="things-know-size">
                <h5 class="text-color ms-2">Cambio programma</h5>
            </div>
            <p class="p-0 text-color fw-light ms-5">Dal 1 giugno 2024 il pacchetto non include la visita guida ad Essaouira. Visiteremo comunque la città ma in libertà.</p>
        </div>
    </div>
</div>