    /*Cose da sapere*/
    .things-know-size{
        height: 35px;
        width: 35px;
        
    }
    
    .things-know-container{
        margin-left: 150px;
        margin: 34px 372px 0;

    }