

.desc-container {
    text-align: center;
    padding: 0 357px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    .desc-text-h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    }
    
    .desc-text-p1 {
    font-family: "Raleway", sans-serif;    font-size: 16px;
    margin-bottom: 20px;
    }
    
    .desc-text-p2 {
    font-family: "Raleway", sans-serif;    font-size: 16px;
    margin-bottom: 20px;
    }
    
    .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 30%;
    margin: 0 auto;
    }
    
    .btn {
    background-color: #ff4c4c;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none; 
    }
    
    .btn:hover {
    background-color: #ff1c1c;
    }
    
    @media (max-width: 768px) {
    .desc-container {
      padding: inherit;
    }
    .desc-text-h1 {
      font-family: 'Gilroy', sans-serif;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 10px;
    }
    
    .desc-text-p1 {
      font-family: "Raleway", sans-serif;      font-size: 18px;
      margin-bottom: 20px;
    }
    
    .desc-text-p2 {
      font-family: "Raleway", sans-serif;      font-size: 16px;
      margin-bottom: 20px;
    }
    .button-container {
      flex-direction: column;
      gap: 10px;
      width: 80%;
    }
    
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
    }