
.title{
    font-size: 36px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    color: rgb(77, 77, 77);
}
.descrizione{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgb(77, 77, 77);
}

.paragrafo{
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    font-family: "Raleway", sans-serif;
}


@media (max-width: 768px) {

.title{
    font-size: 30px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: rgb(77, 77, 77);
}
.descrizione{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: rgb(77, 77, 77);
}

.paragrafo{
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    font-family: "Raleway", sans-serif;
}

}


