<div class="header" *ngIf="!IsMobile"></div>
<div class="img-container">
    <img src="../../../../assets/image/sfondo.png" class="hero-image">
    <div class="hero-overlay">
        <app-navbar class="nav-header"></app-navbar>
        <div class="hero-text">
            <h1 class="title-hero">Prepara lo zaino, gli amici li portiamo noi</h1>
            <h3 class="sub-title">Scopri il mondo viaggiando in piccoli gruppi</h3>
        </div>
    </div>
</div>


<app-searchbar></app-searchbar>
<br>
<br>
<br>
<br>
<br>
<app-carosello></app-carosello>

<app-card></app-card>
<br>
<br>
<br>
<br>
<br>
<app-card1></app-card1>
<br>
<br>
<br>
<app-rating-collection></app-rating-collection>
<br>
<br>
<br>
<br>
<app-partner-collab></app-partner-collab>
<br>
<br>
<br>
<br>
<br>
<app-carosello-giornali></app-carosello-giornali>
<br>
<br>
<br>
<app-footer></app-footer>
