<!-- <a routerLink="carosello" style="margin-right: 10px;">Carosello</a>
<a routerLink="footer" style="margin-right: 10px;">Footer</a>
<a routerLink="partenze" style="margin-right: 10px;">Card Partenze </a>
<a routerLink="rating+collection" style="margin-right: 10px;">Collection </a>
<a routerLink="/login" style="margin-right: 10px;"> Accedi</a><br>
<a routerLink="/sign-up" style="margin-right: 10px;">registrati</a><br>
<a routerLink="/trip-details" style="margin-right: 10px;">dettaglio viaggio</a>
<a routerLink="card" style="margin-right: 10px;">Card</a>
<a routerLink="card1" style="margin-right: 10px;">Card1</a>
<a routerLink="cardDestinazioni" style="margin-right: 10px;">card Destinazioni</a>
<a routerLink="upcover" style="margin-right: 10px;">upcover</a>
<a routerLink="desc-continent" style="margin-right: 10px;">desc-continent</a>
<a routerLink="down-cover" style="margin-right: 10px;">down-cover</a>
<a routerLink="viaggi-europa" style="margin-right: 10px;">viaggi-europa</a>
<a routerLink="viaggi-nord-america" style="margin-right: 10px;">viaggi-nord-america</a>
<a routerLink="viaggi-oceania" style="margin-right: 10px;">viaggi-oceania</a>
<a routerLink="viaggi-africa" style="margin-right: 10px;">viaggi-africa</a>
<a routerLink="viaggi-asia" style="margin-right: 10px;">viaggi-asia</a>
<a routerLink="diventa-coordinatore" style="margin-right: 10px;">diventa-coordinatore</a>
<a routerLink="coordinatori" style="margin-right: 10px;">coordinatori</a> -->

<router-outlet></router-outlet>



