.payment-button {
    background-color: #ff4758; 
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    width: 100%; 
    cursor: pointer;
    text-align: center;
    font-weight: bold; 
  }
  
.procedi-pagamento {
    grid-area: procedi-pagamento;
    text-align: center;
    margin-top: 20px;
    width: 100%; 
    border-radius: 8px;
  }
  