<div *ngFor="let item of desc" class="desc-container">
  <div class="desc-text">
    <h1 class="desc-text-h1">I nostri viaggi di gruppo {{item.title}}</h1>
    <p class="desc-text-p2">{{item.p}}</p>
    <div class="button-container row">
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Perù')">{{item.button1}}</a>
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Brasile')">{{item.button2}}</a>
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Colombia')">{{item.button3}}</a>
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Argentina')">{{item.button4}}</a>
    </div>
    <div class="button-container-1 row center-row">
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Cile')">{{item.button5}}</a>
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Ecuador')">{{item.button6}}</a>
      <a class="btn btn-danger flex-grow-1 ms-1" (click)="scrollTo('Bolivia')">{{item.button7}}</a>
    </div>
  </div>
</div>
