<div class="hero-overlay">
    <app-navbar class="nav-header"></app-navbar>
</div>
<app-up-cover-coordinatore></app-up-cover-coordinatore>
<app-desc-role></app-desc-role>
<app-card-coordinatore></app-card-coordinatore>
<app-carosello-coordinatore></app-carosello-coordinatore>
<app-selection-process></app-selection-process>
<app-desc-candidature-express></app-desc-candidature-express>
<app-group-interview-bootcamp></app-group-interview-bootcamp>
<app-desc-candidature></app-desc-candidature>
<app-footer></app-footer>
