<!--Card recensioni-->
<div class="d-flex justify-content-center">
    <div class="reviews-card row">
        <!--1-->
        <div class="col-3 d-flex flex-column align-items-center gap-3 mt-5">
            <h2 class="text-color fs-4">Eccezionale</h2>
            <nz-rate class="stars-overlay-reviews" [ngModel]="4" nzAllowHalf nzDisabled></nz-rate>
            <a href="" class="text-color">152 recensioni</a>
            <div class="d-flex">
                <img src="../../assets/trip-details/icons/green-star.png" alt="green-star" class="green-star-size me-1"><h6 class="fs-6">Trustpilot</h6>
            </div>
        </div>

        <!--2-->
        <div class="col-3 d-flex flex-column gap-2 mt-5">
            <nz-rate class="stars-overlay-reviews ciao" [ngModel]="4" nzAllowHalf nzDisabled></nz-rate>
            <p class="text-col reviews-text text-color fw-light">molto bello</p>
            <h6 class="fw-bold fs-6 text-color">R.O.</h6>
            <p class="reviews-date">22/07/2024</p>
        </div>  

        <!--3-->
        <div class="col-3 d-flex flex-column gap-2 mt-5">
            <nz-rate class="stars-overlay-reviews" [ngModel]="4" nzAllowHalf nzDisabled></nz-rate>
            <p class="text-col reviews-text text-color fw-light"> Toir ben organizzato! Sono previste diverse ore in van, ma ciò consente di visitare molte località in pochi giorni. Fantastici compagni di viaggio, ma soprattutto guida locale eccezionale. Consigliato!</p>
            <h6 class="fw-bold fs-6 text-color">||</h6>
            <p class="reviews-date">29/06/2024</p>
        </div>

        <!--4-->
        <div class="col-3 d-flex flex-column gap-2 mt-5">
            <nz-rate class="stars-overlay-reviews" [ngModel]="4" nzAllowHalf nzDisabled></nz-rate>
            <p class="text-col reviews-text text-color fw-light">Viaggio stupendo, super organizzato, divertente e dinamico</p>
            <h6 class="fw-bold fs-6 text-color">Chiara Frandina</h6>
            <p class="reviews-date">21/06/2024</p>
        </div>
    <p class="reviews-date custom-ms-reviews">Le nostre recensioni a 4 e a 5 stelle</p>
    </div>
</div>
